* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma;
  background-color: #f4f4f9;
  color: #333;
  line-height: 1.6;
}

p {
    font-size: 19px;
    font-weight: 400;
}