.contact {
  text-align: left;
  padding: 4rem 0;
  max-width: 900px;
  margin: 0 auto;
}

.contact h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #2575fc;
}

.contact h3 {
  color: #6a11cb;
  font-size: 1.75rem;
}

.contact p {
  font-size: 1.2rem;
  color: #666;
}

.contact-form-container {
  background-color: white;
  padding: 30px 25px;
  border-radius: 15px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 24px;
}

.contact input {
  padding: 12px;
  border: 1px solid #cbd5e1;
  border-radius: 8px;
  font-size: 1rem;
  background-color: #fff;
  width: 100%;
  margin-bottom: 5px;
}

.contact textarea {
  padding: 12px;
  border: 1px solid #cbd5e1;
  border-radius: 8px;
  font-size: 1rem;
  background-color: #fff;
  width: 100%;
  margin-top: 15px;
}

.contact button {
  background-color: #2575fc;
  color: white;
  width: 100%;
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-size: 1.2rem;
}

.contact-info-container {
  background-color: white;
  padding: 30px 25px;
  border-radius: 15px;
  margin-top: 24px;
}
